.wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  .avaCon {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: linear-gradient(150.4deg, #f4ebff -19.94%, #e9cbf0 81.89%);
  }
  .username {
    color: #1c1c1c;
    font-size: 16px;
  }
  .wallet {
    color: #777;
    font-size: 14px;
  }
}
